<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1989644912.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login</title>
</head>
<body>
    <main class="conteiner">
        <form action="">
            <h1>Login</h1>
            <div class="inputs">
                <input placeholder="Usuário" type="email">
            </div>
            <div class="inputs">
                <input placeholder="Senha" type="password">
            </div>
            <div class="bt-login">
                <button type="submit">Logar</button>
            </div>
        </form>
    </main>
</body>
</html>