dialog{
    height: 150px;
    width: 300px;
    background-color: #23232e;
    position: absolute;
    left: 42%;
}
.bt{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    box-shadow:0 0 10px rgba(0, 0, 0, .1);
    margin: 20px 10px 10px 10px;
}
.bt:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;
}